@model RFKBackend.Shared.DataContracts.ReportDataCollection

@{
    ViewBag.Title = "Staff Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff Sheet - @Model.Year</h2>
<script>
    function ToggleHasVerbal(id, shouldBeOn) {
        $.ajax({
            type: "POST",
            url: "/Volunteer/ToggleVerbal?id=" + id + "&shouldBeOn=" + (shouldBeOn ? "true" : "false") + "&year=" + @Model.Year,
            data: null,
            success: () => {
                window.location.reload(false);
            },
        });
    }
    function ToggleHasApplication(id, shouldBeOn) {
        $.ajax({
            type: "POST",
            url: "/Volunteer/ToggleApplication?id=" + id + "&shouldBeOn=" + (shouldBeOn ? "true" : "false") + "&year=" + @Model.Year,
            data: null,
            success: () => {
                window.location.reload(false);
            },
        });
    }
</script>
<table>
    <tr>
        <td>
            <table class="table" width="500">
                <tr>
                    <td>Role</td>
                    <td>Name</td>
                    <td>Verbal?</td>
                    <td>App?</td>
                </tr>
                @foreach (var items in Model.Data[0].Data)
                {
                    <tr>
                        <td>
                            @items.Values[2]  @*Role*@
                        </td>

                        @if (items.Values[0] != null && items.Values[0] != "")
                        {
                            <td>
                                @if (!string.IsNullOrEmpty(items.Values[1]))
                                {
                                    @Html.ActionLink(items.Values[1], "Details", "Volunteer", new { id = items.Values[0] }, null)
                                }
                            </td>
                            <td align="left">
                                @if (items.Values[8] == "1")
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/check-mark-10-xxl.png"
                                         onclick="ToggleHasVerbal(@items.Values[0], 0)" />
                                }
                                else
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/square-dashed-xxl.png"
                                         onclick="ToggleHasVerbal(@items.Values[0], 1)" />
                                }
                            </td>
                            <td align="left">
                                @if (items.Values[7] == "1")
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/check-mark-10-xxl.png"
                                         onclick="ToggleHasApplication(@items.Values[0], 0)" />
                                }
                                else
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/square-dashed-xxl.png"
                                         onclick="ToggleHasApplication(@items.Values[0], 1)" />
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </td>
        <td valign="top" width="400" align="right">
            <table class="table">
                <tr>
                    <td>Role</td>
                    <td>Name</td>
                    <td>Verbal?</td>
                    <td>App?</td>
                </tr>
                @foreach (var items in Model.Data[1].Data)
                {
                    <tr>
                        <td align="right">
                            @items.Values[2]  @*Role*@
                        </td>

                        @if (items.Values[0] != null && items.Values[0] != "")
                        {
                            <td>
                                @if (!string.IsNullOrEmpty(items.Values[1]))
                                {
                                    @Html.ActionLink(items.Values[1], "Details", "Volunteer", new { id = items.Values[0] }, null)
                                }
                            </td>
                            <td align="left">
                                @if (items.Values[7] == "1")
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/check-mark-10-xxl.png"
                                         onclick="ToggleHasVerbal(@items.Values[0], 0)" />
                                }
                                else
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/square-dashed-xxl.png"
                                         onclick="ToggleHasVerbal(@items.Values[0], 1)" />
                                }
                            </td>
                            <td align="left">
                                @if (items.Values[6] == "1")
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/check-mark-10-xxl.png"
                                         onclick="ToggleHasApplication(@items.Values[0], 0)" />
                                }
                                else
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/square-dashed-xxl.png"
                                         onclick="ToggleHasApplication(@items.Values[0], 1)" />
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </td>
        <td valign="top" width="300" align="right">
            <table class="table" style="margin:0,20px">
                <tr>
                    <td>Role</td>
                    <td>Name</td>
                    <td>Verbal?</td>
                    <td>App?</td>
                </tr>
                @foreach (var items in Model.Data[2].Data)
                {
                    <tr>
                        <td align="right">
                            @items.Values[2]  @*Role*@
                        </td>

                        @if (items.Values[0] != null && items.Values[0] != "")
                        {
                            <td>
                                @if (!string.IsNullOrEmpty(items.Values[1]))
                                {
                                    @Html.ActionLink(items.Values[1], "Details", "Volunteer", new { id = items.Values[0] }, null)
                                }
                            </td>
                            <td align="left">
                                @if (items.Values[7] == "1")
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/check-mark-10-xxl.png"
                                         onclick="ToggleHasVerbal(@items.Values[0], 0)" />
                                }
                                else
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/square-dashed-xxl.png"
                                         onclick="ToggleHasVerbal(@items.Values[0], 1)" />
                                }
                            </td>
                            <td align="left">
                                @if (items.Values[6] == "1")
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/check-mark-10-xxl.png"
                                         onclick="ToggleHasApplication(@items.Values[0], 0)" />
                                }
                                else
                                {
                                    <img height="20"
                                         src="https://www.iconsdb.com/icons/preview/purple/square-dashed-xxl.png"
                                         onclick="ToggleHasApplication(@items.Values[0], 1)" />
                                }
                            </td>
                        }
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>